.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main h2, .main p {
  margin: 0;
}

.byTheNumbersContainer {
  width: 100%;
  max-width: 750px;

  margin: 18px 0 0 0;
}